body {
  background-color: rgb(253, 251, 251);
  font-family: sans-serif;
  margin-top: 0px;
}

#cabecalho {
  position: fixed;
}

table {
  color: rgb(59, 12, 59);
  font-size: small;
  margin: 5px;
  padding: auto;
  border-style: solid;
  border-width: 5px;
}

h1 {
  line-height: initial;
  border: rgb(19, 4, 4);
  padding: auto;
}

article {
  display: inline-block;
  width: 40%;
  height: 20px;
}

section {
  text-align: left;
}

aside {
  text-align: right;
}

